.hr {
    width: 100vw;
    height: 2px;
    background-color: #2795b6;
}

.header {
    height: 12vh;
}

.sub-header {
    height: 10vh;
    background-color: #2795b6;
}

.carousel .carousel-item {
    height: 60vh;
}

.carousel-item img {
    width: 100%;
    display: block;
    height: auto;
}

.sub-menu {
    height: 8vh;
}

.sectiontitle {
    background: url(../images/dots.gif) repeat-x scroll 0 0 transparent;
    background-position: center;
    margin: 5px 0 25px;
    min-height: 20px;
}

.sectiontitle h5 {
    font-size: 23px;
    background: #fff;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.centersectiontitle {
    background: url(../images/dots.gif) repeat-x scroll 0 0 transparent;
    background-position: center;
    margin: 10px 0 25px;
    min-height: 20px;
    text-align: center;
}

.centersectiontitle h5 {
    font-size: 23px;
    background: #fff;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
}

.features .feature-item img {
    max-width: 15%;
}

.services .service-items div {
    max-width: 30%;
}

.main-color {
    background-color: #2795b6;
}

.font-color-main {
    color: #2795b6;
}

figure {
    border-left: .25rem solid #2795b6;
}

.footer {
    padding: 30px 0;
    background-color: #151515;
    color: #666;
}

.footer .social img {
    max-width: 48px;
    height: auto;
}

.copyright {
    padding: 10px 0;
    background-color: #111;
    color: #444;
}

input {
    background-color: rgb(56, 56, 56) !important;
    border-color: rgb(56, 56, 56) !important;
    -webkit-box-shadow: rgb(56, 56, 56) !important;
    box-shadow: rgb(56, 56, 56) !important;
    color: rgb(117, 117, 117) !important;
}

.btn-outline-secondary {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background-color: #444 !important;
}

input:focus {
    border-color: rgb(56, 56, 56) !important;
    -webkit-box-shadow: rgb(56, 56, 56) !important;
    box-shadow: none !important;
}

.persons img {
    max-width: 100%;
    height: auto;
}

a {
    font-style: none;
    text-decoration: none;
}